{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        <div class="btn-group">
            <a class="btn btn-success" href="{{ admin.generateUrl('zorbus_block_models_list') }}"><i class="icon-plus icon-white"></i> {{ 'link_action_create' | trans({}, 'SonataAdminBundle')}}</a>
        </div>
    </div>
{% endblock %}