{% extends '::base.html.twig' %}

{% block body %}
    <form method="post" action="{{ path('zorbus_block_config', {'type': app.request.get('type')}) }}">
        {{form_widget(form)}}

        <input type="submit" value="Save">
    </form>
{% endblock %}
